
.game{
	display: inline-block;
	width: 400px;
	height: 400px;
	padding: 0;
	margin:0;
    box-shadow: 0 0 100px rgba(0,0,0,0.5);
}
.gamewrap{
	text-align: center;
}
.oops{
	background-color: transparent !important;
	color: transparent !important;
}
.game1{
	padding: 0;
	margin:0;
	border: 3px solid #009999;

}
.somebody{
	font-size: 27px;
}
.bat{
	margin-top: 5px;
	width: 380px;
	height: 30px;
	background-color: #b7692d;
	padding: 10px;
}
.bat:hover{
	opacity: .8;
}
.bat:active{
	opacity: .7;
	background-color: #d3bb78;
}