
.carde {
  margin: 1%;
  width: 250px;
  height: 300px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0,0,0,.5);
  text-align: center;
  display: inline-block;
  transition: 1s ease-in-out;
  cursor: pointer;
}
.carde:hover {
  box-shadow: 0 20px 30px rgba(0,0,0,.3);
}
.card-banner {
  width: inherit;
  height: 125px;
}
